{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block body %}

    <form action="login" method="post" class="form-signin">
        <h2 class="form-signin-heading">Авторизация</h2>
        <p><a href="login">Авторизоваться</a></p>
        {% for message in errors %}
        <p class="validation_error">{{ message }}</p>
        {% endfor %}
        <p>Вы можете <a href="signup">зарегистрироваться,</a> если у вас ещё нет аккаунта.</p>
        <p>{{ message }}</p>
        <label for="login">Email: </label>
        <input type="text" id="login" name="email" class="form-control" required autofocus>
        <label for="password">Пароль: </label>
        <input type="password" id="password" name="userpass" class="form-control" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>


{% endblock %}