{% extends "base.html" %}

{% block title %}Signup{% endblock %}

{% block body %}

    <form action="signup" method="post" class="form-signin">
        <h2 class="form-signin-heading">Регистрация</h2>
        <p><a href="login">Авторизоваться</a></p>
        {% for message in errors %}
        <p class="validation_error">{{ message }}</p>
        {% endfor %}
        <label for="name">Имя: </label>
        <input type="text" id="name" name="name" value="{{ name }}" class="form-control" required autofocus>
        <label for="secname">Фамилия: </label>
        <input type="text" id="secname" name="secname" value="{{ sname }}" class="form-control" required>
        <label for="year">Год рождения: </label>
        <input type="number" min="1950" id="year" name="year" value="{{ year }}" class="form-control" required>
        <label for="email">Email: </label>
        <input type="email" id="email" name="email" value="{{ email }}" class="form-control" required>
        <label for="pass">Пароль: </label>
        <input type="password" id="pass" name="pass" class="form-control" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>


{% endblock %}