{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block body %}

<form action="/admin/users/edit/{{user.id}}" method="post" class="form-signin">
    <h2 class="form-signin-heading">Edit {{ id }} User</h2>
    {% for message in errors %}
    <p class="validation_error">{{ message }}</p>
    {% endfor %}
    <label for="name">Имя: </label>
    <input type="text" id="name" name="name" value="{{ user.firstname }}" class="form-control" required autofocus>
    <label for="secname" >Фамилия: </label>
    <input type="text" id="secname" name="secname" value="{{ user.secname }}" class="form-control" required>
    <label for="year">Год рождения: </label>
    <input type="number" min="1950" id="year" name="year" value="{{ user.year }}" class="form-control" required>
    <label for="email">Email: </label>
    <input type="email" id="email" name="email" value="{{ user.email }}" class="form-control" required>
    <label for="pass">Password: </label>
    <input type="password" id="pass" name="pass" class="form-control" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Edit</button>
</form>

{% endblock %}