{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block body %}

    <h2>Users</h2>

    <table class="table table-bordered table-hover">
        <thead class="thead-default">
            <tr>
                <th>id</th>
                <th>1st name</th>
                <th>2nd name</th>
                <th>Year</th>
                <th>email</th>
                <th>password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="view/{{ user.id }}"> {{ user.id }}</a></td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.secname }}</td>
                <td>{{ user.year }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>
                    <a href="delete/{{ user.id}}">delete</a>
                    <a href="edit/{{ user.id }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>
        {% for i in 1..pagesCount %}
        <a href="index?page={{i}}">{{i}}</a>
        {% endfor%}
    </p>

{% endblock %}