{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block body %}

<h1>User {{ user.id}} View</h1>

<table class="table table-bordered table-hover table-sm">
    <tr>
        <th>id</th>
        <th>1st name</th>
        <th>2nd name</th>
        <th>Year</th>
        <th>email</th>
        <th>password</th>
    </tr>
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.firstname }}</td>
        <td>{{ user.secname }}</td>
        <td>{{ user.year }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.password }}</td>
    </tr>
</table>

{% endblock %}